/* body should be perflectly matched */
body {
  background-color: #f0f0f0;
  font-family:Georgia, 'Times New Roman', Times, serif, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}